body {font-family: Verdana, sans-serif;}
.margin-top-5 {
  margin-top: 5%;
}
.background-color {
    background-color: #dcdce4;
}
.center {
    flex: 1;
    text-align: center;
}

.left {
    margin-left: auto;
}

.right {
  margin-right: auto;
}
.box-wrapper {
    display: flex;
    justify-content: space-around;
}
.border-radius-50 {
    border-radius: 50%;
  }

.caption {
    font-size: 30pt;
    font-family: 'roboto', sans-serif;
}

ul {list-style-type: none;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
  margin-right: 5%;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays div {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.visibility-hidden {
  visibility: hidden;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
}

.days div {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white
}